* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --background: #EAEAEA;
    --button-color: #e9e9ed;
    --menu-bar: #0F52BA;
    --form-background: #fbfbfb;
    --color-neon: #03e9f4;
    --color-purple: #ad44ef;
    --color-blue: #1c99f6;
    --color-green: #31aa52;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

.login-form {
    display: grid;
    height: 100vh;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box > input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0,0,0);
    margin-bottom: 30px;
    margin-top: 24px;
    border: none;
    border-bottom: 1px solid var(--color-neon);
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0;
    font-size: 12px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box > input:focus ~ label,
.login-box .user-box > input:valid ~ label {
    top: -20px;
    left: 0;
    color: black;
    font-size: 18px;
}

.wide-button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background-color: var(--color-blue);
    color: white;
}

header {
    background-color: var(--color-green);
    color: white;
}

.header-contents {
    display: flex;
}

.header-contents > div {
    display: flex;
    width: 100%;
}

.header-contents-left {
    justify-content: left;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
}

.header-contents-center {
    justify-content: center;
    font-size: 12px;
    align-items: center;
}

.header-contents-right {
    justify-content: right;
    align-items: center;
}

.header-contents-right img {
    height: 30px;
    width: 30px;
    margin-left: 12px;
    cursor: pointer;
}

.menu-button {
    cursor: pointer;
    margin-left: 30px;
}

.menu-contents {
    display: none;
    position: absolute;
    width: 24%;
    z-index: 1;
    border-radius: 6px;
    background-color: var(--color-green);
}

.menu-contents a,
.user-menu-contents a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
}

.menu-contents div,
.user-menu-contents div {
    padding: 12px;
    border-top: 1px solid #FFFFFF;
    border-radius: 6px;
}

.menu-contents div:hover,
.user-menu-contents div:hover {
    background: #FFFFFF;
    color: var(--color-green);
}

.user-menu-contents {
    position: absolute;
    display: inline-block;
    top:36;
    right: 0;
    margin-right: 30px;
    width: 240px;
    display: none;
    background-color: var(--color-green);
}

.sub-menu {
    padding-top: 6px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.sub-menu a {
    margin-left: 6px;
    padding: 12px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    border: 1px solid #FFFFFF;
    border-radius: 24px 6px 0px 0px;
    box-shadow: 3px 6px #888888;
    background-color: silver;
}

.sub-menu > a:active {
    box-shadow: 0px 3px #888888;
}

.sub-menu div {
    display: inline;
    padding: 12px;
}

#current-tab {
    background: var(--color-purple);
    color: #ffffff;
}

section {
    margin-top: 12px;
    padding: 12px;
}

.page-title {
    text-align: center;
}

.module-buttons {
    display: flex;
    justify-content: center;
}

.module-buttons > div {
    margin: 12px;
}

.data-form {
    padding-top: 24px;
}

.form-table > table {
    margin: 12px auto;
}

.form-table > table > tbody > tr > td {
    padding: 6px 3px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.square-button {
    width: 120px;
    height: 120px;
    font-size: 1.2em;
}

.sys-msg {
    padding: 12px;
    text-align: center;
}

.input-error {
    background-color: red;
}

.error {
    color: red;
}
