* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --background: #EAEAEA;
    --button-color: #e9e9ed;
    --menu-bar: #0F52BA;
    --form-background: #fbfbfb;
    --color1: #03e9f4;
    --color2: #ad44ef;
    --color3: #1c99f6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

.login-form {
    display: grid;
    height: 100vh;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box > input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0,0,0);
    margin-bottom: 30px;
    margin-top: 24px;
    border: none;
    border-bottom: 1px solid var(--color1);
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0;
    font-size: 12px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box > input:focus ~ label,
.login-box .user-box > input:valid ~ label {
    top: -20px;
    left: 0;
    color: black;
    font-size: 18px;
}

.wide-button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background-color: var(--color3);
    color: white;
}

.sys-msg {
    padding: 12px;
    text-align: center;
}

.error {
    color: red;
}
